@{
    ViewData["Title"] = "Home Page";
}

<style>
    .multicolortext {
        background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text ;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: 'Times New Roman'; 
    }
    .box {
        width: 500px;
        border: 10px solid green; 
        background-color:darkgray;
        margin: auto; 
    }
</style>


<div class="text-xl-center multicolortext box" style="background-color: whitesmoke"> 
    <h1 class="display-4">Howdy Howdy Frog Fiends</h1>
    <p>Bulletin Board<br />
    @Html.ActionLink("Forum Rules", "Details", "Forum", new { id = 1})<br />
    @Html.ActionLink("Forum F.A.Q", "Details", "Forum", new { id = 0})<br />
    <a asp-controller="Forum" asp-action="Index">-Forum Index</a><br />
    </p>
</div>
