@model IEnumerable<FrogFraternityBeta.Models.Post>
@using Microsoft.AspNetCore.Http;

@{ ViewData["Title"] = "Forum Index"; }

<div style="float:right">

    @if (Context.Session.GetInt32("UserId").HasValue)
    {
@Html.ActionLink("Welcome back, " + Context.Session.GetString("Username") + "!", "Details", "User", new { id = Context.Session.GetInt32("UserId") }) }
            else
            {
<a asp-controller="User" asp-action="Login">Login</a><br />
                <a asp-controller="User" asp-action="Register">Register</a>            }
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.ActionLink(item.Title + " | " + item.Username, "Details", new { id = item.PostId })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PostTime)
    </td>
</tr>}
    </tbody>
</table>
<!---->
@if (Context.Session.GetInt32("UserId").HasValue)
{
<a asp-controller="Forum" asp-action="Create" class="btn btn-primary">Create Post</a>            }