@{ 
    ViewData["Title"] = "Forum Index"; 
}

<ol>
    <li class="row">
        <a href="/">
            <h4 class="title">
                Frog
            </h4>
            <div class="bottom">
            </div>
            <p class="timestamp">
                12/6/2002
            </p>
            <p class="comment-count">
                9 comments
            </p>
        </a>
    </li>
</ol>