@model IEnumerable<FrogFraternityBeta.Models.Post>

@{ 
    ViewData["Title"] = "Forum Index"; 
}

<table class=" table">
    <tbody>
        @foreach (var item in Model)
        { // This is the driving code that handles showing every post present in the database
            <tr>
                <td>
                    @Html.ActionLink(item.Title + " | " + item.Username, "Details", new { id = item.PostId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTime)
                </td>
               
            </tr>
}
    </tbody>
</table>

<a asp-controller="Forum" asp-action="Create">Create Post</a>